@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* Fundo Escuro Premium */
  color: white;
  overflow-x: hidden;
}

/* Scrollbar personalizada */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.05); }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: rgba(16, 185, 129, 0.5); }
